@font-face {
    font-family: 'Barbarian';
    src: url('./Style/Barbarian.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neothic';
    src: url('./Style/Neothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Стили ТОЛЬКО для первой страницы */

.body-1 {
    /* Фон и настройки самого body */
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.body-1 header {
    font-family: 'Barbarian', serif;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;
    font-size: 85px;
    -webkit-text-stroke: 2px #770000; 
    text-shadow: 6px 4px 10px #330100;
    margin-top: 20px; 
    margin-bottom: 23px;
}

.body-1 .header-h1 {
    padding: 0;
    margin: 0; 
}

.body-1 main h2 {
    text-align: center;
    font-size: 75px;
}

.body-1 hr {
    color: #770000;
    height: 0px;
    width: 100%;
}

.body-1 main {
    overflow-x: hidden; 
    font-family: 'Neothic', serif;
    width: auto;
    border-radius: 13px;  
    max-width: 1550px; 
    min-height: 800px;
    background-color: rgba(0, 0, 0, 0.91); 
    color: #ffffff;
    padding: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
    margin-bottom: 50px;
    position: relative;
}

.body-1 .layout-container {
    display: flex;       
    gap: 40px;     
    align-items: flex-start; 
}

.body-1 .content {
    flex: 3; 
}

.body-1 .sidebar {
    height: 832px;
    flex: 1; 
    background: #050000; 
    padding: 20px;
    border: 1px solid #770000;    
    border-radius: 10px;
    text-align: center;              
}

.body-1 .sidebar img {
    max-width: 100%; 
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px #770000;
}

.bottun {
    text-decoration: none;
}

/* Картинки */
.body-1 .top-right-img {
    position: absolute; 
    top: 0;           
    right: 0;    
    width: auto;
    height: 200px;   
    margin-top: 20px;
    margin-right: 20px; 
    border-radius: 15px;  
   -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,4) 40%, rgba(0,0,0,0) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,4) 40%, rgba(0,0,0,0) 100%);
}

.body-1 .top-left-img {
    position: absolute; 
    top: 0;           
    left: 0;    
    width: auto;
    height: 200px;    
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;  
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,4) 40%, rgba(0,0,0,0) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,4) 40%, rgba(0,0,0,0) 100%);
}


/* INDEX-2 */

.body-2 {
  background-image: url('./2b826e12e975b21a57f2ea6629723190_upscayl_5x_upscayl-standard-4x.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.body-2 .header-h1 {
    font-size: 100px;
    color: #15C9E5;
}

.body-2 img {
  animation: shake 1s linear infinite;
  top: 1000px;
  border-radius: 100%;
  height: 1000px;
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 